<p class="small">
    TOTAL SA, disclaims all liability for any loss, damage, injury or expense however
    caused, arising from the use of or reliance upon, in any manner, the information
    provided through<br />
    this web site and does not warrant the truth, accuracy or completeness of the information
    provided.<br />
    &copy; 2001-2009 TOTAL SA. All rights reserved.<br />
</p>